.App {
  text-align: center;
  background-color: black;
  display: flex;
  height: 500vh;
  color: white;

}
.top{
width: 110px;
height: 50px;
font-size: 30px;

background-color: rgb(219, 240, 30);
color: rgb(0, 0, 0);
border-radius: 5px;
margin: 40px;

}
but{
  border-radius: 50px;
}sss
.top :hover{
  background-color: yellow;
}
.pag{
  height: 90vh;
  width: 120cm;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1051d3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: black;
}
